# Python
__pycache__/
*.py[cod]
venv/
*.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user

# Data (add specific files if needed)
*.gpkg-shm
*.gpkg-wal

# System
.DS_Store
*.swp

# Secrets
.env
*.key
